<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>imageName</key>
			<string>IMG_2524</string>
			<key>title</key>
			<string>林荣安</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>IMG_2523_03</string>
			<key>title</key>
			<string>之家会员</string>
			<key>detail</key>
			<string>9,345积分</string>
			<key>uri</key>
			<string>https://m2.touzhijia.com/account/vip</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>MoreGame</string>
			<key>title</key>
			<string>直投理财</string>
			<key>uri</key>
			<string>touzhijia://platTable</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>IMG_2523_07</string>
			<key>title</key>
			<string>回款日历</string>
			<key>detail</key>
			<string>今日有回款</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>IMG_2523_10</string>
			<key>title</key>
			<string>总资产</string>
			<key>detail</key>
			<string>464638,12</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>IMG_2523_14</string>
			<key>title</key>
			<string>余额</string>
			<key>detail</key>
			<string>0.16</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>IMG_2523_21</string>
			<key>title</key>
			<string>银行卡</string>
			<key>detail</key>
			<string>1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>imageName</key>
			<string>MoreSetting</string>
			<key>title</key>
			<string>设置</string>
			<key>uri</key>
			<string>touzhijia://profile/settings</string>
		</dict>
	</array>
</array>
</plist>
